* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color:#312d28;
  background-image: linear-gradient( to right, #ff5f6d, #ffc371 );

  /*background-color: #bdd5d8;*/
  /*background-image: repeating-linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);*/
}
