.label{
    margin-bottom: 10px;
}
.input {
    margin-bottom: 10px;
    margin-top: 2px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.200);
    border: 0 none;
}

#btn-enviar {
    margin-top: 10px;
    text-decoration: underline;
    background: none!important;
    border: none;
    padding: 0!important;
}

.mform {
    text-align: center;
    position: sticky;
    width: 100%;
}

.form {
    display: inline-block;
    position: relative;
}